mmcv-full==1.2.0 -f https://download.openmmlab.com/mmcv/dist/cu101/torch1.6.0/index.html
scipy
tensorboard
tensorboardX
opencv-python-headless
scikit-learn
terminaltables
matplotlib
-r requirements/optional.txt
-r requirements/runtime.txt
-r requirements/tests.txt
